<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>

        <div class="col-lg-4">
        <h1>Registration Form</h1>    
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" >Email address</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="email">
          
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="password">
            </div>
           
           
           
           
            <button type="submit" class="btn btn-primary" (click)="register()">Signin</button>
          </form>
        </div>

        <div class="col-lg-4"></div>
    </div>
</div>








